/* resetting margin and padding */
* {
  margin: 0;
  padding: 0;
}

.every-div {
  width: 100vw;
  height: 100vh;
}

.empty {
  width: 100%;
  height: 2%;
}

.header,
.footer {
  width: 100%;
  height: 14%;
  background-color: rgb(187, 183, 183);
}

.container {
  width: 100%;
  height: 68%;
  background-color: #8cc63f;
  display: flex;
  justify-content: space-between;
}

.div-b,
.div-c {
  width: 25%;
  height: 100%;
}

.div-b {
  background-color: #3d9545;
}

.div-c {
  background-color: #f4e931;
}

/* for Tablet screen */
@media screen and (min-width: 500px) and (max-width: 768px) {
  .header,
  .footer {
    height: 8%;
  }

  .container {
    height: 80%;
    display: flex;
    align-items: flex-end;
  }

  .div-b,
  .div-c {
    width: 50%;
    height: 35%;
  }
}

/* For Mobile Screen */
@media screen and (max-width: 499px) {
  .header,
  .footer {
    height: 8%;
  }

  .container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .div-b,
  .div-c {
    width: 100%;
    height: 25%;
  }
}
