/* resetting margin and padding */
* {
  margin: 0;
  padding: 0;
}

.every-div {
  width: 100vw;
  height: 100vh;
}

.empty {
  height: 2%;
  width: 100%;
}

.header {
  width: 100%;
  height: 18%;
  background-color: #d1d2d4;
}

.container {
  width: 100%;
  height: 60%;
  display: flex;
}

.footer {
  width: 100%;
  height: 18%;
  background-color: #d1d2d4;
}

.part-1 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.part-2 {
  width: 30%;
  height: 100%;
}

.part-1 .div-a {
  width: 100%;
  height: 50%;
  background-color: #ef4036;
}

.part-1 .div-b {
  width: 100%;
  height: 50%;
  background-color: #fcb040;
}

.part-2 .div-c {
  width: 100%;
  height: 100%;
  background-color: #f4e931;
}

/* for Tablet screen */
@media screen and (min-width: 500px) and (max-width: 768px) {
  .header,
  .footer {
    height: 8%;
  }

  .container {
    height: 80%;
  }

  .part-1,
  .part-2 {
    width: 50%;
  }
}

/* For Mobile Screen */
@media screen and (max-width: 499px) {
  .header,
  .footer {
    height: 8%;
  }

  .container {
    height: 80%;
    display: flex;
    flex-direction: column;
  }

  .part-1,
  .part-2 {
    width: 100%;
  }

  .part-1 {
    height: 66.6%;
  }

  .part-2 {
    height: 33.3%;
  }

  .part-1 .div-a,
  .part-1 .div-b {
    width: 100%;
    height: 50%;
  }
}
